@charset "UTF-8";
 

html, body {
    height: 100%;
    min-width: 100%;
    max-width: 100%;
    background-color:black;
    overflow: visible;
}
.section1 {
    flex-wrap: wrap;
}

.section2_h2, .section2_h22, .section2_h23 {
    color:transparent;
    font-size: 9vw;
    font-family: 'Lobster',cursive;
}

.section1_h1 span {
    display: table-cell;
    font-family: 'Red Rose',cursive;
    font-size: 10vw;
    color:black;
    transition: .5s all ease-in-out;

}
button {
    transition: 1s all ease-in-out;
}
.section1_h1 span:hover {
    text-indent: 6px;
    transition: text-indent .3s;
}


.section1_h1 span:nth-child(1) {
    animation-delay: 1.0s;
}
.section1_h1 span:nth-child(2) {
    animation-delay: 1.15s;
}

.section1_h1 span:nth-child(3) {
    animation-delay: 1.30s;
}

.section1_h1 span:nth-child(4) {
    animation-delay: 1.45s;
}

.section1_h1 span:nth-child(5) {
    animation-delay: 1.60s;
}

.section1_h1 span:nth-child(6) {
    animation-delay: 1.75s;
}

.section1_h1 span:nth-child(7) {
    animation-delay: 1.90s;
}

.section1_h1 span:nth-child(8) {
    animation-delay: 2.05s;
}

.section1_h1 span:nth-child(9) {
    animation-delay: 2.20s;
}

.section1_h1 span:nth-child(10) {
    animation-delay: 2.35s;
}

.section1_h1 span:nth-child(11) {
    animation-delay: 2.50s;
}

.section1_h1 span:nth-child(12) {
    animation-delay: 2.65s;
}
.section1_h1 span:nth-child(13) {
    animation-delay: 2.80s;
}
.section1_h1 span:nth-child(14) {
    animation-delay: 2.95s;
}
.section1_h1 span:nth-child(15) {
    animation-delay: 3.10s;
}




/* jquery classes to animate */
.darkness {
    background: black;
}

.whiteOut {
    background: white;
}

.flashAnimation {
    animation: flash 6.0s ease-in-out 7s alternate;
}

.flashAnimation2 {
    animation: flash 6.0s ease-in 8s alternate;
}

.flashAnimation3 {
    animation: flash 6.0s ease-in 9s alternate;
}

.showAnimation {
    animation: show 5.0s ease-in-out 5s alternate;
}

.glowing {
    animation: glowing 1500ms infinite;
}

/* home page load animation */
@keyframes show {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
    }
}

@keyframes flash {
    0% {text-shadow: none;}
    25% {text-shadow: none;}
    50% {text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 5px #0073e6;}
    75% {text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;}
    100% {text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;}
}

@keyframes glowing {
    0% {
      box-shadow: 0 0 3px #fff;
    }
    50% {
      box-shadow: 0 0 10px rgb(89, 91, 245);
    }
    100% {
      box-shadow: 0 0 15px #0073e6;
    }
  }

/* Media queries */

