@charset "utf-8";
/*--
    Madness Casino
    
    Author: Nick Jocius
    Date: 8/25/2020  

    Filename: styles.css
*/

/* HTML and Body Styles */
* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-width: 180px;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

/* Header styles*/

/* Navbar styles*/
.navbar {
  color: white;
  background-color: black;
}

.nav {
  top: 0;
  z-index: 100;
}

.navbar-brand {
  font-size: clamp(.8rem,2vw,1.9rem);
  margin-right: 0;
}

/* Table styles */
#tableSection {
  background-image: url("../images/heathjoker.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.table {
  opacity: 90%;
}

/* Poker Table and Board styls */
#titleh1 {
  text-align: center;
  font-size: clamp(1.8rem,5vw,5rem);
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black",
    "sans-serif";
  color: rgb(230, 230, 230);
  letter-spacing: 0.1em;
  font-weight: normal;
  font-variant: small-caps;
  text-shadow: black 1px 1px 1px, white 0px -4px 0px;
  transform: perspective(350px) rotateX(-35deg);
}

#pokerTable {
  min-height: 80vh;
  background-image: url("../images/harley.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
}

#hand {
  width: min(70vw, 800px);
  min-width: 280px;
  height: min(60vh, 700px);
  min-height: 300px;
  transform: perspective(450px) rotateX(25deg);
  background: radial-gradient(
    farthest-corner,
    rgb(194, 1, 1),
    rgb(131, 1, 1) 30%,
    rgb(41, 0, 0) 70%,
    black
  );
  border: 15px outset rgba(162, 162, 172, 0.9);
  border-radius: 20%;
  box-shadow: black 0px 10px 10px 2px;
}

#hand img#cardstack {
  height: 100%;
  cursor: pointer;
}

#hand img.cardImg {
  height: 90%;
  cursor: pointer;
  box-shadow: rgb(51, 51, 51) 3px 3px 10px;
}

#hand #handValue {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: clamp(.9rem,2vw,1.5rem);
  letter-spacing: 0.3em;
}

#bank {
  width: min(52%, 210px);
  font-size: clamp(1.5rem,3vw,3rem);
  color: white;
  letter-spacing: 0.2em;
  background-color: transparent;
  border: 6px double rgba(255, 255, 255, 0.2);
  text-align: right;
}

#bankLabel {
  font-size: clamp(1.5rem,2.5vw,3rem);
  width: 40%;
  color: rgba(253, 253, 253, 0.7);
  text-shadow: black 1px 1px 2px, white -1px -1px 0px;
  letter-spacing: 0.2em;
}

#btns input,
select {
  border-radius: 30%;
}
#betLabel {
  color: rgba(253, 253, 253, 0.7);
  text-shadow: black 1px 1px 2px, white -1px -1px 0px;
  letter-spacing: 0.2em;
}
.col {
  text-align: end;
}

/*  Instructions  */
#instructions p {
  font-size: min(3vh, 4vw);
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.7);
}

footer {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.7);
}
